<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="NameMapping" type="System.Configuration.DictionarySectionHandler"/>
    <section name="WarehouseCatalogType" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <NameMapping>
    <add key="sd45" value="Sure.J.Deng"/>
    <add key="jy86" value="John.Z.Yang"/>
    <add key="pl26" value="Peter.J.Lin"/>
  </NameMapping>
  <WarehouseCatalogType>
    <add key="07" value="GenerateDispatchSql.Catalog07, GenerateDispatchSql"/>
    <add key="30" value="GenerateDispatchSql.Catalog30, GenerateDispatchSql"/>
    <add key="08,09,31" value="GenerateDispatchSql.Catalog08, GenerateDispatchSql"/>
  </WarehouseCatalogType>
  <appSettings>
    <add key="RemoveSqlFile" value="fasle"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
