<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseSection" type="Newegg.DataAccess.DatabaseSection, Newegg.DataAccess" />
  </configSections>
  <DatabaseSection DefaultDatabase="S7SQL01" CommandTimeout="60" Secret="true">
    <DatabaseConfigs>
      <DatabaseConfig Name="S3SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S3SQL;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="S6SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S6SQL01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="S7SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S7SQL01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="S8SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S8SQL01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="S9SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S9SQL01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="EWR02SESQ01" Value="USER ID=;PASSWORD =;DATA SOURCE =EWR02SESQ01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="MEM01SESQ01" Value="USER ID=;PASSWORD =;DATA SOURCE =MEM01SESQ01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="S14SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S14SQL01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="S30SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S30SQL01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="S31SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S31SQL01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="S32SQL01" Value="USER ID=;PASSWORD =;DATA SOURCE =S32SQL01;INITIAL CATALOG =dropship"/>
      <DatabaseConfig Name="d2whp01" Value="USER ID=;PASSWORD =;DATA SOURCE =d2whp01;INITIAL CATALOG =dropship"/>
    </DatabaseConfigs>
  </DatabaseSection>
  <appSettings>
    <add key="CSPath" value="C:\Application\Shipping\CS.config" />
    <add key="TeamName" value="CDWMS" />
  </appSettings>
</configuration>