<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostIP" value="10.16.82.48"/>
    <add key="Port" value="38242"/>
    <add key="ThreadCount" value="50"/>
    <add key="Interval" value="100"/>
    <add key="Type" value="0"/><!--0:SNValidate;1:ToteComplete-->
  </appSettings>
</configuration>