<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="WH7_Dropship">
    <connectionString>
	    ZrikiL8uuThDqMX3ZrPJ1wh80KtmtOikwoUtPk5Uj+vno8028AT1/WfdX4pZHqz5m8HqMM+SvwZZ413CGfeJV08/ngMirH1zgo8YNH2LGGp5z5ecKawY0X8l8Mnn0C9/dVVb/bGrNJ6/grUCkBAYAYXyq3j717g3ZixtakwS3mb5P6B89OM1OMg3scZGlq8mdL/+rHHg1QVy74gxYC0rSg==
	  </connectionString>
  </database>
  <database name="D2WHP01.DropShip">
    <connectionString>
      ZrikiL8uuThDqMX3ZrPJ1wh80KtmtOikwoUtPk5Uj+vno8028AT1/WfdX4pZHqz5m8HqMM+SvwZZ413CGfeJV08/ngMirH1zgo8YNH2LGGotditfY5OViSN4mwlBD1kYHDjBgKIg+ah7aeMbbEnTte8oxv3SX/sgTgFtpLCQ7yYEEL241fq2T1uLumTwSui9pLp5oIpiDp6NEKy6uCEJZQ==
    </connectionString>
  </database>
  <database name="NewSql">
    <connectionString>ZrikiL8uuThDqMX3ZrPJ1wh80KtmtOikwoUtPk5Uj+vVEMqOFFeIGh1ymN1PgRN8jqaT7sTHW2qS7xC6mQWAPcb6rJOOUX73XQMwvfb8f9LTHqAdZcl9kzyfdOqwZ6bWIsvfCCYo8qucLV75uHLYEzHkJGl04cCRAWSOM6tNoFQX7l536qHlqHTuspW54f8vF/KSPr1jNTAzWpE9yWPb1g==</connectionString>
  </database>
  <database name="D2Whp01">
    <connectionString>ZrikiL8uuThDqMX3ZrPJ182hxMTL+Y0TKAbvmImatrjytLpQpMVWP+6bn8O7p+1CjYo5o3AVN9ivn2yyR5CicZneaoXIzWDy17LTVbSs1etJXZlfFJZauy1guc+IcDtTsnRW5rEAbZtjQ/AeYeo27fBgqs0vmRTrBlXKY7jA2QzEBo9WftKS1PXsfLInvjecO3BLaJe/ymQpfSBTQ263GQ==</connectionString>
  </database>
  <database name="D2His01">
    <connectionString>ZrikiL8uuThDqMX3ZrPJ182hxMTL+Y0TKAbvmImatrjytLpQpMVWP+6bn8O7p+1CjYo5o3AVN9ivn2yyR5CicZneaoXIzWDy17LTVbSs1esObQ5l5lT7xbDtuV2T35CZ9Q1kG7bjgPclFdcdJXci9L9m/17FS97VrMrBVMd8cH/kYOOHRHMC8Bi8rGIyscjGRFF/ybapDo+GJA8X2nx2DQ==</connectionString>
  </database>
  <database name="STGMKTPDB01.Dropship">
    <connectionString>
      ZrikiL8uuThDqMX3ZrPJ1wh80KtmtOikwoUtPk5Uj+vno8028AT1/WfdX4pZHqz5m8HqMM+SvwZZ413CGfeJV08/ngMirH1zgo8YNH2LGGqAk4BE2QaA9xt5y4F236hwaHsUxTw9/vIOlRPBSmw0gAMiy3atQWeB8ZMkNHRTFvka8UX7e3L6JRz1q0xTBofFmP+P/BHGRMsCEuYa9blXLuw4RWcqQjyKK+K8wSbcb8U=
    </connectionString>
  </database>
</databaseList>