<?xml version="1.0"?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <dataCommand name="NewSql.Test" database="NewSql" commandType="Text">
    <commandText>
      <![CDATA[
      
Select null
      ]]>
    </commandText>
  </dataCommand>
</dataOperations>